@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* State colors */
    --color-accent: theme(colors.blue.700);
    --color-accent-hover: theme(colors.blue.800);
    --color-accent-active: theme(colors.blue.900);
    --color-accent-focus: theme(colors.blue.300);

    --color-accent-muted: theme(colors.blue.50);
    --color-accent-muted-hover: theme(colors.blue.100);
    --color-accent-muted-active: theme(colors.blue.200);
    --color-accent-muted-focus: theme(colors.blue.300);

    --color-danger: theme(colors.red.500);

    --color-danger-muted: theme(colors.red.500);
    --color-success-: theme(colors.green.500);
    --color-success-muted: theme(colors.green.500);
    --color-disabled: theme(colors.slate.200);

    /* Foreground colors */
    --color-text: theme(colors.slate.800);
    --color-text-accent: var(--color-accent);
    --color-text-invert: theme(colors.slate.100);
    --color-muted: theme(colors.slate.500);
    --color-disabled: var(var(--color-disabled));
    --color-border: theme(colors.slate.500)

    /* Background colors */
  }
}

body {
  padding: 1rem;
}